@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Kanit:wght@100;200;300; 400;500 & display=swap');



body{
    margin:0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #0f3c4c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    color:aliceblue;
    z-index: 999;
}

.header b{
    margin-left: 15px;
}
.home{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 70px;
    padding-top: 20px;
}

.navegar{
    width: 50%;
    height: 70px;
    padding-top: 30px;
}

.direita{
    width: 30%;
    height: 70px;
}

#buscafake{
    width: 15%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

header button{
    border-radius: 3px;
    width: 5%;
    height: 40px;
    transition: 1s;
    color: orange;
    border:solid 1px orange;
    background-color: white;
    margin-top: 15px;
}
 header button:hover{
    background-color: orange;
    color: white;
}
#login{
    border-radius: 3px;
    width: 100%;
    height: 40px;
    transition: 1s;
    color: orange;
    border:solid 1px orange;
    background-color: white;
    margin-top: 15px;
}
#login:hover{
    background-color: orange;
    color: white;
}

#titulo{
    font-family:'Kanite', sans-serif ;
    text-align: center;
}
label{
    font-size: large;
    font-family: 'Kanite', sans-serif  ;
}
input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: solid blueviolet 2px;
}
fieldset{
    border-color: blueviolet;
}

button{
    width: 250px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 4px;
    border: solid 1px blueviolet;
    color: aliceblue;
    transition: all 0.5s;
}

.pai{
    position: absolute;
    margin-top: 100px;
    margin-left: 30%;
}
.centro{
    text-align: center;
    justify-content: center;
}

button:hover{
    scale:1.2;
}


table{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 30%;
}

table, th, td {
    border-collapse: collapse;
    border: solid 2px blueviolet;
}

table img{
    width: 100px;
    height: 100px;
}

