
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Kanit:wght@100;200;300; 400;500 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & display=swap');

.fundo{
    width: 100%;
    height: 643px;
    justify-content: center;
}

.fundo img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.pai{
    position: absolute;
    margin-top: 10%;
    margin-left: 33%;
    width: 33%;
    height: 450px;
    box-shadow: 1px 3px 12px black;
    background-color: rgb(249, 240, 224);
    opacity: 0.8;
}

.pai b{
    text-align: center;
    font-size: 20px;
    font-family:'Kanit', sem serifa;
    color: #0f3c4c;
}
.pai input{
    border:solid 2px orange;
    border-width: 1px;
    text-align: center;
    width: 80%;
    height: 50px;
}

.login{
    text-align: center;
    font-size: 26px;
    width: 100%;
    height: 10%;
    font-family:'Kanit', sem serifa;
    color: #0f3c4c;
}
.inputs{
    padding-top: 10%;
    width: 100%;
    height: 50%;
    text-align: center;
}

.envio{
    padding-top: 10%;
    width: 100%;
    height: 15%;
    text-align: center;
    color: orange;
}
.envio input{
    color: white;
    background-color: orange;
}
.cadastro{
    text-align: center;
    width: 100%;
    height: 10%;
}

body a {
    transition: all 0.8s;
    text-decoration:none;   
 }
 

 body a:visited {
     color: black;
 }
 
 /* mouse over */
 body a:hover {
     color: orange;
 }

 #cadastre-se:hover{
    color: orange;
 }
 
 /* link selecionado */
 body a:active {
     color: var(--color-neutral-40);
 }

body{
    margin:0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #0f3c4c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    color:aliceblue;
    z-index: 999;
}

.header b{
    margin-left: 15px;
}
.home{
    width: 20%;
    height: 70px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.navegar{
    width: 50%;
    height: 70px;
    padding-top: 30px;
}

.direita{
    width: 30%;
    height: 70px;
}

#buscafake{
    width: 15%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

header button{
    border-radius: 3px;
    width: 5%;
    height: 40px;
    transition: 1s;
    color: orange;
    border:solid 1px orange;
    background-color: white;
    margin-top: 15px;
}
button:hover{
    background-color: orange;
    color: white;
}
#login{
    border-radius: 3px;
    width: 100%;
    height: 40px;
    transition: 1s;
    color: orange;
    border:solid 1px orange;
    background-color: white;
    margin-top: 15px;
}
#login:hover{
    background-color: orange;
    color: white;
}




